.Content{
    margin-top: 120px;
    margin-left: 190px;
    margin-right: 190px;
}   

@media (max-width: 700px){
    .Content{
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 50px;
    }
}

@media (min-width: 700px) and (max-width: 1400px){
    .Content{
        margin-left: 90px;
        margin-right: 10px;
        padding-top: 50px;
    }
}

