.Navbar{
    height: calc(100% - 100px); /* Full-height: remove this if you want "auto" height */
    width: 80px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    left: 0;
    bottom: 0;
    background-color: rgb(255, 208, 0);
    overflow-x: hidden; /* Disable horizontal scroll */
  }

.Navbar:hover{
    width: 160px;
}