/* The navbar container */
.Head {
    overflow: hidden;
    background-color: rgb(255, 208, 0);
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
  }
.Head li{
  float: left;
  /* background-color: darkgreen; */
  list-style: none;

}

#site_name {
  text-align: start;
}

#header_list {
align-items: center;
}

#profile_image{
  object-fit: cover; /*this makes the picture fill not stretch */
  display: block;
  position: absolute;
  top: 50%;
  left: 95%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

