/* The navbar container */
.Head {
    overflow: hidden;
    background-color: coral;
  }
.Head li{
  float: left;
  /* background-color: darkgreen; */
  list-style: none;
  height: 15%;
}

header{
  padding-top: 0;
  background-color: darkseagreen;
}

#profile_button{
  float: right;
  font-size: large;
  padding-right: 20px;
  align-self: start;
}

#sight_name {
  text-align: left;
}

#header_list {
  align-items: center;
}
